@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    max-width: 1350px;
    min-width: 400px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background-image: linear-gradient(to right, #4c75ac, #2E4057);
    border-radius: 7px;
    box-shadow: 0.5px 0.5px 1px;
    margin: center;
    max-height: 2000px;
    
}

header > h1{
    max-width: 1350px;
    min-width: 400px;
    color: var(--cor3);
    padding-top: 50px;
    font-size: 80px;
    margin-bottom: 20px;
    margin: center;
}

header > h2{
    margin: auto;
    color: var(--cor3);
    font-family: var(--fontopensans);
    font-weight: 900;
    margin-bottom: 30px;
    font-size: 20px;
    padding-bottom: 25px;
}


nav{
    margin: auto;
    margin-top: 30px;
    padding-bottom: 11px;
    text-align: left;
    font-family: var(--fontopensans);
    font-size: 20px;
    margin-left: 20px
    
}

nav > a{
    color: var(--cor3);
    text-decoration-line: none;
    font-size: 20px;
    font-family: var(--fontsubtitulo);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 7px;
    padding-bottom: 12px;
    padding-left: 7px;
}

span > a{
    color: var(--cor3);
    text-decoration-line: none;
    font-size: 20px;
    font-family: var(--fontsubtitulo);
    font-weight: bold;
    padding-top: 80px;
    text-align: center;
}

span > a:hover{
    text-decoration-line:underline;
}

nav > a:hover{
    
    background-image: linear-gradient(to bottom, #2e40577e, #f3f9d273);
    box-shadow: 0.5px 0px 5px rgba(0, 0, 0, 0.548);
    transition-duration: 0.5s;
   
}

footer{
    font-family: var(--fontopensans);
    background-color: var(--cor2);
    margin: center;
    text-align: center;
    color: var(--cor3);
    font-weight: 900;
    margin-top: 90px;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 100%;
    font-size: 17px;
    max-height: 2000px;
    box-shadow: 1px 0px 5px black;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--cor1);
    min-width: 400px;
    margin: center;
}

section.intercalada{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    min-width: 100%;
    margin: auto;
    background-image: linear-gradient(to left, #c9cbcce0, rgba(190, 200, 207, 0.705));
}

main{
    margin: center;
    margin-top: -20px;
    max-width: 1350px;
    min-width: 400px;
    max-height: 6000px;
    background-color: white;
}

:root{
--cor1: #CBEAA6;
--cor2: #2E4057;
--cor3: #F3F9D2;
--cor4: #948B89;
--fontopensans: 'Open Sans', sans-serif;
--fontlato: 'Lato', sans-serif;
}

p{
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: var(--fontopensans);
    text-indent: 60px;
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 20px;
}

p.margempequena{
    margin-top: 5px;
    padding-bottom: 20px;
}

section{
    margin-top: 50px;
    max-height: 2000px;
    min-height: 450px;
    max-width: 100%;
    min-width: 400px;
    margin: center;
    background-image: linear-gradient(to right, #ebedeee0, rgba(237, 246, 253, 0.705));
    box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.356);
}

section > h1{
    background-image: linear-gradient(to right, #ecf9ff, #c5ccd1);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-family: var(--fontopensans);
    font-weight: 300;
    font-size: 40px;
    padding-bottom: 20px;
    max-width: 100%;
    min-width: 400px;
    box-shadow: 0px -0.1px 3px rgba(0, 0, 0, 0.123);

}

.finalparagrafo{
    margin-top: 10px;
    text-align: center;
    font-family: var(--fontlato);
}

